.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: var(--gap);
}

.md-content img {
  margin-right: auto;
  margin-left: auto;
}

.inspo-single {
  margin-bottom: 2rem;
  padding: 24px;
}

.artist-info {
  padding-bottom: 16px;
}

.embed {
  width: 100%;
}

.artist-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.pixel-img {
  image-rendering: pixelated;
}

.entry-header {
  font-family: "IM Fell English", serif;
  text-align: center;
}

.post-header {
  font-family: "IM Fell English", serif;
}

.post-content h1 {
  font-family: "IM Fell English", serif;
}

.post-content h2 {
  font-family: "IM Fell English", serif;
}

