{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content md-content">
        {{ $opts := dict "display" "block" }}
        {{ .Content | $.Page.RenderString $opts }}
        <img class="pixel-img" width="240" height="240" alt="pixel_campfire" loading="lazy" src="campfire.gif">
        <div class="grid-container">
            {{- range .majorButtons}}
            <article class="post-entry">
                <header class="entry-header"><h3 class="entry-hint-parent">{{.name}}</h3></header>
                <div class="entry-content">
                    {{if eq .desc ""}}{{else}}
                        <p>{{.desc}}</p>
                    {{end}}
                </div>
                <a class="entry-link" href="{{.url}}" title="{{.name}}" aria-label="{{.name}}"></a>
            </article>
            
            {{- end -}}
        </div>
    
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
