{{- define "main" }}

<article class="post-single">
  <p class="bot-padding">
  These are some creators I've come to love over the last few years. They have inspired me to take my own art further and branch out into new ways to make art (including this website!)
  </p>

  {{- range site.Params.inspirationParams.artists}}
  <div class="artist-card">
    <div class="artist-info">
      <div class="artist-header">
        <header class="entry-header"><h2 class="entry-hint-parent">{{.name}}</h2></header>
        {{ partial "artist_social_icons.html" (dict "icon_list" .socialIcons) }}
      </div>
      {{if eq .description ""}}{{else}}
          <p>{{.description}}</p>
      {{end}}
    </div>
    {{if eq .embed ""}}{{else}}
      {{ partial "embeds.html" .embed}}
    {{end}}
  </div>
  {{- end }}  
</article>

{{- end }}
